<div
  class="event-card"
  style="
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(/img/campfire/5.JPG);
    background-size: cover;
    background-position-x: center;
    background-position-y: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  "
>
  <img
    src="/img/logo/donate_white.svg"
    alt="Campfire Birmingham"
    style="width: 35%; margin-bottom: 0.1vh"
  />
  <p>
    Any change you can spare helps us achieve our mission and keep running
    programmes.
  </p>
  <a
    class="btn"
    href="https://hcb.hackclub.com/donations/start/refractfoundation"
    target="_blank"
    >Click Here ></a
  >
</div>
