<div
  class="event-card event-card--bg d-flex flex-column justify-content-between align-items-center text-center"
  style="--event-card-image: url(/assets/images/campfire/5.JPG); --card-position-y: 0%;"
>
  <img
    src="/assets/images/logo/donate_white.svg"
    alt="Support Refract"
    class="event-card__logo"
  />
  <p>
    Refract is entirely youth-led. Your donation helps us deliver programmes,
    events and resources that empower young people through technology and
    education.
  </p>
  <a
    class="btn"
    href="https://donate.refractfoundation.org"
    target="_blank"
    rel="noopener noreferrer"
    >Donate Today ></a
  >
</div>
