---
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div
      class="hero"
      style="
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ),
          url(/img/campfire/hcampfire_64.JPG);
        background-position-x: center;
        background-position-y: -40vh;
      "
    >
      <img
        src="/img/logo/campfire.svg"
        alt="Campfire Birmingham"
        class="hero-logo"
      />
      <h3>{{ page.hero_date }}</h3>
      <h4>{{ page.hero_loc }}</h4>
    </div>
    <div class="content">
      {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>
