---
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div
      class="hero"
      style="
        background-image: linear-gradient(
            rgba(180, 176, 176, 0.5),
            rgba(180, 176, 176, 0.5)
          ),
          url({{ page.hero_back }});
        background-position-x: center;
        background-position-y: -30vh;
      "
    >
      <img
        src="{{ page.hero_logo }}"
        alt="The Digital Literacy Census"
        class="hero-logo"
        style="width: 60%"
      />
      <h3>{{ page.hero_sub }}</h3>
    </div>
    <div class="content container">{{ content }}</div>
    {% include footer.html %}
  </body>
</html>
